<div class="manage-wrapper">
  <a class="back-button" (click)="hideManage($event)">
    <fa-icon [icon]="faTimes" size="lg"></fa-icon>
  </a>
  <div class="header-wrapper fixed-top">
    <div class="title-wrapper">
      <div class="title">
        <h6 class="title-value">Manage Publication Lists</h6>
        <span class="active-list"> Active list: &nbsp;{{ activeList }} </span>
      </div>
    </div>
    <div class="button-group">
      <a class="button" (click)="newButtonClicked()">
        <a class="button-text">New</a>
      </a>
    </div>
  </div>
  <div class="content-wrapper" *ngIf="showSpinner">
    <app-my-loader [loading]="true"></app-my-loader>
  </div>
  <div class="content-wrapper" *ngIf="!showSpinner">
    <div *ngIf="!isNewList" class="list-wrapper">
      <div class="single-list" *ngFor="let item of itemList; let i = index">
        <app-single-list
          [index]="item.data.list_id"
          (activateItem)="activateCurrentList($event)"
          (renameClicked)="renameClicked(item.data)"
          (removeClicked)="removeClicked(item.data)"
          (duplicateClicked)="duplicateClicked(item.data)"
          [isActiveList]="item.isActive"
          [data]="item.data"
        ></app-single-list>
      </div>
    </div>
    <div *ngIf="isNewList" class="list-wrapper">
      <app-new-list
        [(name)]="newListName"
        (listData)="listDataChanged($event)"
      ></app-new-list>
    </div>
  </div>
  <div *ngIf="noData && !showSpinner" class="empty-message">
    <h4>No results found for this search. Try a different one</h4>
  </div>
</div>
