<div class="filter-button">
  <a
    class="button"
    (click)="filterDialogButtonClicked($event)"
    appLogEvent
    [localId]="'filter button'"
    [parentId]="'Toolbar'"
    [component]="componentName"
  >
    <a class="button-text"> Filter</a>
    <fa-icon [icon]="faAngleDown"></fa-icon>
  </a>
  <div
    appHideMe
    class="filter-dialog"
    [class.show-dialog]="showFilterDialog"
    (documentClicked)="showFilterDialog = false"
  >
    <app-filter-dialog
      [initFilter]="filter"
      [showExclude]="showExlcude"
      [histogram]="histogram"
      (filterResults)="filterResultsChanged($event)"
      (close)="closeDialog($event)"
      [componentName]="componentName"
    ></app-filter-dialog>
  </div>
</div>
