<mat-card
  class="card-style"
  [class.mat-elevation-z0]="removeShadow"
  [class.no-theme-background]="!applyTheme"
>
  <div *ngIf="showSpinner">
    <app-my-loader [loading]="showSpinner"></app-my-loader>
  </div>
  <div *ngIf="!showSpinner">
    <input
      *ngIf="isMultipleSelection"
      type="checkbox"
      class="checkbox-style"
      (change)="selectionChanged($event)"
      appLogEvent
      [localId]="'multiple_selection_checkbox'"
      [parentId]="'Publication Item Id:' + publicationData.mag_id"
      [component]="componentName"
    />
    <mat-card-header>
      <mat-card-title>
        <div class="title-wrapper">
          <h6 class="doc-type" [class.no-theme-color]="!applyTheme">
            {{ publicationData.doc_type }}
          </h6>
          <h6 class="paper-title" [class.no-theme-color]="!applyTheme">
            {{ publicationData.title }}
          </h6>
        </div>
      </mat-card-title>
      <mat-card-subtitle *ngIf="!contractPublication">
        <div class="subtitle-wrapper" [class.no-theme-color]="!applyTheme">
          <div
            class="top-badge-wrapper"
            [class.align-end]="getTags(publicationData) == null"
          >
            <div class="left-wrapper">
              <div
                class="single-tag"
                *ngFor="let item of getTags(publicationData)"
                appLogEvent
                [localId]="item.display_name"
                [parentId]="'Publication Item Id:' + publicationData.mag_id"
                [component]="componentName"
              >
                <app-badge-button
                  [buttonLabel]="item.display_name"
                  [tooltipText]="item.tooltip"
                  [isTag]="true"
                  [type]="item.type"
                  [windowWidth]="windowWidth"
                ></app-badge-button>
              </div>
            </div>
            <div class="right-wrapper">
              <div
                class="single-badge"
                *ngFor="let item of getRelatesToPublication(publicationData)"
                appLogEvent
                [localId]="item.display_name"
                [parentId]="'Publication Item Id:' + publicationData.mag_id"
                [component]="componentName"
              >
                <app-badge-button
                  [buttonLabel]="item.value"
                  [buttonAfterText]="item.display_name"
                  [tooltipText]="item.tooltip"
                  [type]="item.type"
                  [windowWidth]="windowWidth"
                ></app-badge-button>
              </div>
            </div>
          </div>
          <div class="general-wrapper">
            <p class="journal-name">
              {{ publicationData.year }}, &nbsp; {{ publicationData.journal }}
            </p>
            <div class="journal-rank">
              <div
                class="single-badge"
                *ngFor="let item of getRelatesToJournal(publicationData)"
                appLogEvent
                [localId]="item.display_name"
                [parentId]="'Publication Item Id:' + publicationData.mag_id"
                [component]="componentName"
              >
                <app-badge-button
                  [buttonLabel]="item.value"
                  [buttonAfterText]="item.display_name"
                  [tooltipText]="item.tooltip"
                  [type]="item.type"
                  [windowWidth]="windowWidth"
                ></app-badge-button>
                &nbsp;&nbsp;&nbsp;

                <!-- <p class="journal-rank-title">Journal Rank</p> -->
              </div>
            </div>
          </div>
          <div
            class="publication-details-wrapper"
            *ngIf="showAuthorsAndAffilis"
          >
            <div
              class="author-wrapper"
              *ngIf="publicationData.authors"
              appLogEvent
              [localId]="'Authors'"
              [parentId]="'Publication Item Id:' + publicationData.mag_id"
              [component]="componentName"
            >
              <app-expandable-button
                [textColor]="getTextColorForBadge()"
                [authors]="publicationData.authors"
                [startItems]="2"
                [endItems]="1"
                [isExpanded]="expandBadges"
                (currentExpansionStatus)="expansionStatusChanged($event)"
              ></app-expandable-button>
            </div>
            <div
              class="affiliations-wrapper"
              *ngIf="publicationData.affiliations"
              appLogEvent
              [localId]="'Affiliations'"
              [parentId]="'Publication Item Id:' + publicationData.mag_id"
              [component]="componentName"
            >
              <app-expandable-button
                [affiliationsList]="publicationData.affiliations"
                [startItems]="2"
                [endItems]="0"
                [isExpanded]="expandBadges"
                [textColor]="getTextColorForBadge()"
                (currentExpansionStatus)="expansionStatusChanged($event)"
                [showNumberPrefix]="false"
              ></app-expandable-button>
            </div>
          </div>
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="!contractPublication">
      <div
        *ngIf="isDetailed"
        class="text-content"
        [class.no-theme-color]="!applyTheme"
      >
        <p
          class="abstract-styles"
          *ngIf="showAbstract"
          [class.view-mode]="viewMode"
        >
          {{ publicationData.abstract }}
        </p>
      </div>
      <div *ngIf="disabled" class="want-this">
        <p class="text">We don't have this publication</p>
        <div class="button-group" [class.no-theme-color]="!applyTheme">
          <button
            mat-button
            class="mat-button-style"
            *ngIf="disabled"
            (click)="needButtonClicked()"
            appLogEvent
            [localId]="'I want this'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faGem"></fa-icon>
            <a class="button-text">I want this</a>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="actions-wrapper">
        <div
          *ngIf="userReaction"
          class="button-group"
          [class.no-theme-color]="!applyTheme"
          appLogEvent
          [localId]="getUserReaction(publicationData)"
          [parentId]="'Publication Item Id:' + publicationData.mag_id"
          [component]="componentName"
        >
          <button
            mat-button
            class="mat-button-style mat-button-dark remove-shadow"
            *ngIf="showReactions"
          >
            <fa-icon
              [icon]="getIconForContractPublication(publicationData)"
            ></fa-icon>
          </button>
          <button
            mat-button
            class="mat-button-style"
            (click)="clearReactionClicked()"
            appLogEvent
            [localId]="'Clear Reaction'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faBan"></fa-icon>
            <a class="button-text">Clear Reaction</a>
          </button>
        </div>
        <div
          *ngIf="getIconForContractPublication(publicationData) != faThumbsDown"
          class="button-group"
          [class.no-theme-color]="!applyTheme"
        >
          <button
            mat-button
            class="mat-button-style remove-shadow"
            *ngIf="showReactions && !userReaction"
            (click)="thumbsDownClicked()"
            appLogEvent
            [localId]="'Thumbs down'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faThumbsDown"></fa-icon>
          </button>
          <button
            mat-button
            class="mat-button-style remove-shadow"
            *ngIf="showReactions && !userReaction"
            (click)="shrugClicked()"
            appLogEvent
            [localId]="'Shrug'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faMehRollingEyes"></fa-icon>
          </button>
          <button
            mat-button
            class="mat-button-style remove-shadow"
            *ngIf="showReactions && !userReaction"
            (click)="thumbsUpClicked()"
            appLogEvent
            [localId]="'Thumbs up'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faThumbsUp"></fa-icon>
          </button>
          <a
            class="mat-button-style small-padding"
            target="_blank"
            [href]="publicationData.urls[0].url"
            *ngIf="
              publicationData.urls != null && publicationData.urls.length > 0
            "
            appLogEvent
            [localId]="'External URL'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faExternalLinkAlt"></fa-icon>
          </a>
          <button
            mat-button
            class="mat-button-style"
            *ngIf="showRemove"
            (click)="removeButtonClicked()"
            appLogEvent
            [localId]="'Remove'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faTrashAlt"></fa-icon>
            <a class="button-text">Remove</a>
          </button>

          <button
            mat-button
            class="mat-button-style"
            *ngIf="showHide"
            (click)="hideButtonClicked()"
            appLogEvent
            [localId]="'Hide'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faEyeSlash"></fa-icon>
            <a class="button-text">Hide</a>
          </button>
          <button
            mat-button
            class="mat-button-style"
            *ngIf="showView && !disabled"
            (click)="viewButtonClicked()"
            appLogEvent
            [localId]="'View'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faEye"></fa-icon>
            <a class="button-text">View</a>
          </button>
          <button
            mat-button
            class="mat-button-style"
            *ngIf="showAdd && !disabled"
            appLogEvent
            [localId]="'Add'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
            (click)="addButtonClicked($event)"
          >
            <fa-icon [icon]="faPlus"></fa-icon>
            <a class="button-text">Add</a>
          </button>

          <button
            mat-button
            class="mat-button-style"
            *ngIf="showSeedNewList && !disabled"
            (click)="seedNewListButtonClicked()"
            appLogEvent
            [localId]="'Seed new list'"
            [parentId]="'Publication Item Id:' + publicationData.mag_id"
            [component]="componentName"
          >
            <fa-icon [icon]="faFileExport"></fa-icon>
            <a class="button-text">Seed New List</a>
          </button>
        </div>
      </div>
    </mat-card-actions>
  </div>
</mat-card>
