<mat-drawer-container [hasBackdrop]="false" class="wrapper" autosize>
  <mat-drawer
    #listDrawer
    [disableClose]="true"
    class="side-nav-style"
    [position]="!showPublicationList?'end':'start'"
    [class.full-width]="showFullSize"
    mode="side"
  >
    <div
      class="side-nav-content custom-scrollbar"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      [fromRoot]="true"
      (scrolled)="onPublicationListScroll()"
    >
      <app-publication-list
        (closeDrawerClicked)="closeListDrawer()"
        (showListAsNewsFeed)="showPublicationListAsNewsFeed($event)"
        (toggleDrawerClicked)="toggleDrawerWindow($event)"
        [showFullScreenToggle]="showFullScreenToggle"
        [showCurrentPublication]="listDrawer.opened"
      ></app-publication-list>
   
     
    </div>
  </mat-drawer>
  <mat-drawer
    #locateDrawer
    [disableClose]="true"
    [position]="!showPublicationList?'start':'end'"
    class="side-nav-style"
    [class.full-width]="showFullSize"
    mode="side"
  >
    <div
      class="side-nav-content custom-scrollbar"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      [scrollWindow]="false"
      [fromRoot]="true"
      #locateScreen
      (scroll)="trackLocateScroll($event)"
      (scrolled)="onLocateScroll($event)"
    >
      <app-publication-list
     
     
        (closeDrawerClicked)="closeLocateDrawer()"
        (toggleDrawerClicked)="toggleDrawerWindow($event)"
        [showFullScreenToggle]="showFullScreenToggle"
        [onlyLocateScreen]="true"
        (setScrollPosition)="setLocateScreenScrollPosition($event)"
      ></app-publication-list>
    </div>
  </mat-drawer>
  <mat-drawer-content style="width: 100%; overflow: hidden; height: auto;" [class.remove-transition]="removeTransition">
    <div
      class="content-wrapper custom-scrollbar"
      [class.remove-margin]="showPublicationList"
    >
      <div class="main-wrapper" [class.dark-theme]="showPublicationList" >
        <app-main
          *ngIf="!showPublicationList"
          [showToolbar]="isAuthenticated"
        ></app-main>
        <app-publication-list
          *ngIf="showPublicationList"
          [showManageButton]="false"
          [themedList]="showPublicationList"
          [fixedHeader]="true"
        ></app-publication-list>
        
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
