<button
  #tooltipButton
  *ngIf="buttonLabel !== '' && buttonAfterText === ''"
  (click)="onButtonClicked($event)"
  class="button light-blue-button"
  [class.tag-button]="isTag"
  [ngClass]="getClass()"
>
  <a class="single-item"> {{ buttonLabel }}</a>
</button>
<button
  #tooltipButton
  *ngIf="buttonLabel !== '' && buttonAfterText !== ''"
  (click)="onButtonClicked($event)"
  class="button no-padding"
  [ngClass]="getClass()"
>
  <a class="single-item big-badge light-blue-button left-circular-radius"
    >{{ buttonLabel }}&nbsp;</a
  >
  <a class="single-item big-badge light-green-button right-circular-radius">{{
    buttonAfterText
  }}</a>
</button>
<div class="button-badge-wrapper" #badgeWrapper></div>
<p-overlayPanel [appendTo]="badgeWrapper" [showCloseIcon]="true" #panel>
  <ng-template pTemplate>
    <div class="content" [innerHTML]="tooltipText"></div>
  </ng-template>
</p-overlayPanel>
