$background-color: #1e2129;
// #039be5;
$text-color: #ffffff;

.compact-dialog {
  display: none;
  position: absolute;
  // border: 1px solid #28a745;
  top: 100%;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  transition: all 0.5s;
}
.compact-button {
  position: relative;
  transition: all 0.5s;

  .show-dialog {
    display: block;
  }
}
.spacing {
  padding: 0 1rem;
  margin: 0 1rem;
}
.icon-style {
  color: $text-color;
}
.select-style {
  // background-color: $button-background-color;
  color: $text-color;
}
.select-option-style {
  background-color: $background-color;
  color: $text-color;
}
.select-option-style:hover {
  background-color: $background-color;
}
.select-width {
  width: 120px;
}
.small-select {
  width: 80px;
}
.full-width {
  width: 100%;
}
.add-padding {
  padding: 0rem 1rem;
}

::ng-deep .mat-select-value {
  color: $text-color;
}
::ng-deep .mat-select {
  font-family: "Muli", Helvetica, Arial, sans-serif;
}
::ng-deep .mat-select-panel {
  background-color: $background-color;
  color: $text-color;
}
::ng-deep .mat-select-arrow {
  color: white;
}
::ng-deep .compact-button .mat-form-field-infix {
  border-top: 0.40375em solid transparent;
}
.myPanelClass {
  margin-top: 30px !important;
}
.button {
  color: $text-color;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  cursor: pointer;
  margin: 0 1rem;
}
.button-text {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  padding-right: 5px;
  font-family: inherit;
}
