.wrapper {
  height: 100%;
  overflow: auto;
}
.single-publication {
  width: 100%;
  margin: 1.4rem 0;
}
.list-wrapper {
  padding: 1rem;
}
.overflow-hidden {
  overflow: hidden;
}
.add-margin {
  margin-top: 4rem;
}
