<div class="wrapper" appHideMe (escapeClicked)="closeClicked()">
  <div
    class="icon-wrapper"
    (click)="closeClicked()"
    appLogEvent
    [localId]="'Close'"
    [parentId]="'Toolbar'"
    [parentId]="'Terms Of Service'"
  >
    <div class="cross-times">
      <a class="icon-style">
        <fa-icon [icon]="faTimes" size="lg"></fa-icon>
      </a>
    </div>
  </div>
  <div *ngIf="showSpinner" class="spinner-wrapper">
    <app-my-loader *ngIf="showSpinner" [loading]="showSpinner"></app-my-loader>
  </div>

  <div class="view" *ngIf="termsOfService">
    <div class="title-wrapper">
      <h5 class="title">Terms Of Service</h5>
    </div>
    <h5 class="tos">{{ termsOfService }}</h5>
    <div class="button-wrapper">
      <button
        mat-button
        class="mat-button-style"
        (click)="closeClicked()"
        appLogEvent
        [localId]="'Close'"
        [parentId]="'Toolbar'"
        [component]="'Terms Of Service'"
      >
        <fa-icon [icon]="faWindowClose"></fa-icon>
        <a class="button-text">Close</a>
      </button>
    </div>
  </div>
  <div style="flex: 1;"></div>
  <div *ngIf="termsOfService" class="footer">
    <app-footer [componentName]="'Terms Of Service'"></app-footer>
  </div>
</div>
